<h1>Index</h1>

<form action="<%= form.url('repo', 'reindex') %>" method="post">
  <input type="hidden" name="key" value="<%= form.value current_key %>">
  <input type="hidden" name="value" value="<%= form.value current_value %>">
  <input type="submit" value="Reindex" />
</form>

<ul><% index_keys.each do |key| %>
<li><%= format.index_key_a key %></li><% end %>
</ul>
<% if current_key %>
<h2>Key: <%= escape_html current_key %></h2>
<ul><% if index_values.empty? %>
<li>None</li><% end %><% index_values.each do |value| %>
<li><%= format.index_value_a(current_key, value) %></li></li><% end %>
</ul><% end %>
<% if current_value %>
<h2>Value: <%= escape_html current_value %></h2>
<ul><% if shas.empty? %>
<li>None</li><% end %><% shas.each do |sha| %>
<li><%= format.sha_a(sha) %></li><% end %>
</ul><% end %>