<h1>Index</h1>

<ul><% keys.each do |key| %>
<li><a href="<%= url "/repo/idx/#{key}" %>"><%= escape_html key %></a></li><% end %>
</ul>

<% if current_key %>
<h2>Key: <%= escape_html current_key %></h2>
<ul><% if values.empty? %>
<li>None</li><% end %><% values.each do |value| %>
<li><a href="<%= url "/repo/idx/#{current_key}/#{value}" %>"><%= escape_html value %></a></li><% end %>
</ul>
<% end %>

<% if current_value %>
<h2>Value: <%= escape_html current_value %></h2>
<ul><% if shas.empty? %>
<li>None</li><% end %><% shas.each do |sha| %>
<li><%= sha_link(sha) %></li><% end %>
</ul>
<% end %>

<form action="<%= url('/repo/reindex') %>" method="post">
  <input type="hidden" name="key" value="<%= current_key %>">
  <input type="hidden" name="value" value="<%= current_value %>">
  <input type="submit" value="Reindex" />
</form>
