<h1>Gitgo Repo</h1>

<dl>
<dt>Path</dt>
<dd><%= format.path path %></dd>
<dt>Branch</dt>
<dd>
  <form action="<%= form.url('repo', 'setup') %>" method="post">
    <select name="gitgo[branch]"><% form.each_ref_name(refs, branch) do |value, selection, content| %>
    <option value="<%= value %>"<%= html.select(selection) %>><%= content %></option><% end %>
    </select>
    <input type="submit" value="Change" />
  </form>
</dd>
<dt>Commit</dt>
<dd><% if commit.nil? %>
  <p>The <%= format.branch repo.git.branch %> branch has not been created.</p>
  <p><em>Pull from an existing remote branch, or let gitgo create it as needed.</p></em>
<% else %><%= erb :_commit, :locals => {:commit => commit}, :views => path('views/code'), :layout => false %><% end %></dd>
<dt>Update</dt>
<dd>
  <p>Synchronize with a remote (pull and push), or simply pull updates.</p>
  <form action="<%= form.url('repo', 'update') %>" method="post">
    <dl>
    <dt><label for="upstream_branch">Remote</label></dt>
    <dd>
      <select name="upstream_branch"><% form.each_ref_name(refs, upstream_branch) do |value, selection, content| %>
      <option value="<%= value %>"<%= html.select(selection) %>><%= content %></option><% end %>
      </select>
    </dd>
    <dt><label for="push">Sync</label></dt>
    <dd><input id="sync" type="radio" name="sync" value="true" checked="true" /></dd>
    <dt><label for="pull">Pull</label></dt>
    <dd><input id="pull" type="radio" name="sync" value="false" /></dd>
    <dt><input type="submit" value="Update" /></dt>
    <dd></dd>
    </dl>
  </form>
  <p><em>Updates can fail silently, for example when the remote cannot be reached, but such failures cause no damage.</em></p>
</dd>
<dt>Links</dt>
<dd>
  <ul>
  <li><a href="<%= format.url('/repo/status') %>">Status</a></li>
  <li><a href="<%= format.url('/repo/index') %>">Index</a></li>
  <li><a href="<%= format.url('/repo/maintenance') %>">Maintenance</a></li>
  <li><a href="<%= format.url('/repo/reference') %>">Reference</a></li>
  </ul>
</dd>
</dl>

<h1>Settings</h1>
<dl>
<dt>Session Head</dt>
<dd><% if active_commit.nil? %>
  <p>No commit has been selected as active (or the selected commit is invalid).</p><% else %><%= erb :_commit, :locals => {:commit => active_commit}, :views => path('views/code'), :layout => false %><% end %>
  <p>The session head indicates the code seen as current by the user, for example 'version-1.0' or 'development'.</p>
  <form action="<%= form.url('repo', 'setup') %>" method="post">
    <select name="session[head]"><% form.each_ref_name(refs, active_sha) do |value, selection, content| %>
    <option value="<%= value %>"<%= html.select(selection) %>><%= content %></option><% end %>
    </select>
    <input type="submit" value="Change" />
  </form>
</dd>
</dl>
