<h1>Gitgo Repo</h1>

<dl>
<dt>Path</dt>
<dd><%= path %></dd>
<dt>Branch</dt>
<dd><%= branch %></dd><% if session %>
<dt>Active Branch</dt>
<dd>
  <form action="<%= url('repo', 'at') %>" method="post">
    <select id="ref" name="ref"><% refs.each do |ref| %>
    <option value="<%= escape_html(ref.name) %>" <%= selected?(active_commit == ref.commit.sha) %>><%= escape_html(ref.name) %></option><% end %>
    </select>
    <input type="submit" value="Change" />
  </form>
</dd><% end %>
<dt>Commit</dt>
<dd><% if commit %>
<%= erb :_commit, :locals => {:commit => commit}, :views => path('views/code'), :layout => false %><% else %>
  <em>Select a tracking branch and click setup to create the '<%= escape_html(repo.branch) %>' branch.</em>
  
  <form action="<%= url('repo', 'setup') %>" method="post">
    <dl>
    <dt><label for="remote">Track</label></dt>
    <dd>
      <select id="remote" name="remote">
      <option value="">None</option><% remotes.each do |remote| %>
      <option value="<%= remote %>" <%= selected?(track == remote) %>><%= escape_html(remote) %></option><% end %>
      </select>
    </dd>
    <dt><input type="submit" value="Setup" /></dt>
    <dd></dd>
    </dl>
  </form>
<% end %>
</dd>
<dt>Update</dt>
<dd>
  <p>
    Synchronize with a remote (pull and push), or simply pull updates.
  </p>
  <form action="<%= url('repo', 'update') %>" method="post">
    <dl>
    <dt><label for="remote">Remote</label></dt>
    <dd>
      <select id="remote" name="remote"><% remotes.each do |remote| %>
      <option value="<%= remote %>" <%= selected?(track == remote) %>><%= escape_html(remote) %></option><% end %>
      </select>
    </dd>
    <dt><label for="push">Sync</label></dt>
    <dd><input id="sync" type="radio" name="sync" value="true" checked="true" /></dd>
    <dt><label for="pull">Pull</label></dt>
    <dd><input id="pull" type="radio" name="sync" value="false" /></dd>
    <dt><input type="submit" value="Update" /></dt>
    <dd></dd>
    </dl>
  </form>
  <p><em>Note: updates can fail silently, for example when the remote cannot be reached.</em></p>
</dd>
<dt>Reset</dt>
<dd>
  <p>
    Reinitialize the internal bindings gitgo uses to access the git repository.
    Uncommitted updates in gitgo (see <a href="<%= url('repo', 'status') %>">status</a>)
    will be lost.
  </p>
  <form action="<%= url('repo', 'reset') %>" method="post">
    <input type="checkbox" name="full" value="true">Reindex</input>
    <input type="submit" value="Reset" />
  </form>
</dd>
</dl>

<ul>
<li><a href="<%= url('/repo/status') %>">Status</a></li>
<li><a href="<%= url('/repo/idx') %>">Index</a></li>
<li><a href="<%= url('/repo/maintenance') %>">Maintenance</a></li>
<li><a href="<%= url('/repo/reference') %>">Reference</a></li>
</ul>
