<h1>Gitgo Repo</h1>

<dl>
<dt>Path</dt>
<dd><%= format.path path %></dd>
<dt>Branch</dt>
<dd><%= format.branch branch %></dd>
<dt>Commit</dt>
<dd><% if commit.nil? %>
  <p>
    The <%= format.branch repo.git.branch %> branch has not been created yet.
  </p><% else %><%= erb :_commit, :locals => {:commit => commit}, :views => path('views/code'), :layout => false %></dd><% end %>
<dt>Update</dt>
<dd>
  <p>
    Synchronize with a remote (pull and push), or simply pull updates.
  </p>
  <form action="<%= form.url('repo', 'update') %>" method="post">
    <dl>
    <dt><label for="upstream_branch">Remote</label></dt>
    <dd>
      <select name="upstream_branch"><% form.each_remote_name(upstream_branch) do |value, selection, content| %>
      <option value="<%= value %>"<%= html.select(selection) %>><%= content %></option><% end %>
      </select>
    </dd>
    <dt><label for="push">Sync</label></dt>
    <dd><input id="sync" type="radio" name="sync" value="true" checked="true" /></dd>
    <dt><label for="pull">Pull</label></dt>
    <dd><input id="pull" type="radio" name="sync" value="false" /></dd>
    <dt><input type="submit" value="Update" /></dt>
    <dd></dd>
    </dl>
  </form>
  <p><em>Note: updates can fail silently, for example when the remote cannot be reached.</em></p>
</dd>
<dt>Active Commit</dt>
<dd><% if active_commit.nil? %>
  <p>
    No active commit has been selected.
  </p><% else %><%= erb :_commit, :locals => {:commit => active_commit}, :views => path('views/code'), :layout => false %><% end %>
  <form action="<%= form.url('repo', 'head') %>" method="post">
    <select id="active_commit" name="head"><% form.each_ref_name(head) do |value, selection, content| %>
    <option value="<%= value %>"<%= html.select(selection) %>><%= content %></option><% end %>
    <option value="">None</option>
    </select>
    <input type="submit" value="Change" />
  </form>
</dd>
</dl>

<ul>
<li><a href="<%= format.url('/repo/status') %>">Status</a></li>
<li><a href="<%= format.url('/repo/idx') %>">Index</a></li>
<li><a href="<%= format.url('/repo/maintenance') %>">Maintenance</a></li>
<li><a href="<%= format.url('/repo/manage') %>">Manage</a></li>
<li><a href="<%= format.url('/repo/reference') %>">Reference</a></li>
</ul>
