<h1>Gitgo Repo</h1>

<dl>
<dt>Path</dt>
<dd><%= format.path path %></dd>
<dt>Branch</dt>
<dd><%= format.branch branch %></dd><% if session %>
<dt>Active Branch</dt>
<dd>
  <form action="<%= url('repo', 'session') %>" method="post">
    <select id="ref" name="ref"><% form.each_ref_name(active_commit) do |value, selected, content| %>
    <option value="<%= value %>"<%= html.select(selected) %>><%= content %></option><% end %>
    </select>
    <input type="submit" value="Change" />
  </form>
</dd><% end %>
<dt>Commit</dt>
<dd><% if commit.nil? %>
  <em>Select a tracking branch and click setup to create the '<%= format.branch repo.branch %>' branch.</em>
  
  <form action="<%= url('repo', 'setup') %>" method="post">
    <dl>
    <dt><label for="remote">Track</label></dt>
    <dd>
      <select id="remote" name="remote">
      <option value="">None</option><% form.each_remote_name(track) do |value, selected, content| %>
      <option value="<%= value %>"<%= html.select(selected) %>><%= content %></option><% end %>
      </select>
    </dd>
    <dt><input type="submit" value="Setup" /></dt>
    <dd></dd>
    </dl>
  </form>
<% else %><%= erb :_commit, :locals => {:commit => commit}, :views => path('views/code'), :layout => false %><% end %></dd>
<dt>Update</dt>
<dd>
  <p>
    Synchronize with a remote (pull and push), or simply pull updates.
  </p>
  <form action="<%= url('repo', 'update') %>" method="post">
    <dl>
    <dt><label for="remote">Remote</label></dt>
    <dd>
      <select id="remote" name="remote"><% form.each_remote_name(track) do |value, selected, content| %>
      <option value="<%= value %>"<%= html.select(selected) %>><%= content %></option><% end %>
      </select>
    </dd>
    <dt><label for="push">Sync</label></dt>
    <dd><input id="sync" type="radio" name="sync" value="true" checked="true" /></dd>
    <dt><label for="pull">Pull</label></dt>
    <dd><input id="pull" type="radio" name="sync" value="false" /></dd>
    <dt><input type="submit" value="Update" /></dt>
    <dd></dd>
    </dl>
  </form>
  <p><em>Note: updates can fail silently, for example when the remote cannot be reached.</em></p>
</dd>
<dt>Reset</dt>
<dd>
  <p>
    Reinitialize the internal bindings gitgo uses to access the git repository.
    Uncommitted updates in gitgo (see <a href="<%= url('repo', 'status') %>">status</a>)
    will be lost.
  </p>
  <form action="<%= url('repo', 'reset') %>" method="post">
    <input type="checkbox" name="full" value="true">Reindex</input>
    <input type="submit" value="Reset" />
  </form>
</dd>
</dl>

<ul>
<li><a href="<%= url('/repo/status') %>">Status</a></li>
<li><a href="<%= url('/repo/idx') %>">Index</a></li>
<li><a href="<%= url('/repo/maintenance') %>">Maintenance</a></li>
<li><a href="<%= url('/repo/reference') %>">Reference</a></li>
</ul>
