<h1>Gitgo Repo</h1>

<dl>
<dt>Path</dt>
<dd><%= repo.path %></dd>
<dt>Branch</dt>
<dd><%= repo.branch %></dd>
<dt>Commit</dt>
<dd><%= erb :_commit, :locals => {:commit => repo.current }, :views => path('views/code'), :layout => false %></dd>
<dt>Index</dt>
<dd>
  <ul><% keys.each do |key| %>
  <li><a href="<%= url "/repo/idx/#{key}" %>"><%= key %></a></li><% end %>
  </ul>
</dd>
</dl>

<h2>Maintenance</h2>
<ul>
<li>
  <form class="update" action="<%= url('/repo/reindex') %>" method="post">
  <input type="checkbox" name="full" value="true" /> Full
  <input type="submit" value="Reindex" />
  </form>
</li>
<li><a href="<%= url('/repo/status') %>">status</a></li>
<li><a href="<%= url('/repo/fsck') %>">fsck</a></li>
</ul>

<h2>Stats</h2>
<dl><% stats.keys.sort.each do |key| %>
<dt><%= key %></dt>
<dd><%= stats[key] %></dd><% end %>
</dl>

<h2>Reference</h2>
<ul>
<li><a href="<%= url('/repo/design') %>">Design</a></li>
</ul>