<h1>Maintenance</h1>

<h2>Fsck</h2>

<p>
  This is a listing of any invalid or disconnected objects in the git repo
  (not just the branch used by gitgo). Normally prune will remove some of
  them, and gc will remove the rest.
</p>

<ul><% if issues.empty? %>
<li>No issues found</li><% end %><% issues.each do |issue| %>
<li><%= format.text issue %></li><% end %>
</ul>

<form action="<%= url('repo', 'prune') %>" method="post">
<input type="submit" value="Prune" /></dt>
</form>

<form action="<%= url('repo', 'gc') %>" method="post">
<input type="submit" value="GC" /></dt>
</form>

<h2>Stats</h2>
<dl><% stats.keys.sort.each do |key| %>
<dt class="stat"><%= escape_html key %></dt>
<dd class="stat"><%= escape_html stats[key] %></dd><% end %>
</dl>
