<h1>Status (<%= format.branch repo.branch %>)</h1>

<ul><% if status.empty? %>
<li>No changes</li><% end; format.each_diff_a(status) do |link| %>
<li><%= link %></li><% end %>
</ul>

<form class="update" action="<%= url('commit') %>" method="post">
<label for="message">Commit Message</label>
<input type="text" name="message" value="" <%= html.disable status.empty? %>/>
<input type="submit" value="Commit" <%= html.disable status.empty? %>/></dt>
</form>

<form class="update" action="<%= url('reset') %>" method="post">
<input type="submit" value="Reset" <%= html.disable status.empty? %>/></dt>
</form>