<h1>Status (<%= repo.branch %>)</h1>

<ul><% if status.empty? %>
<li>No changes</li><% end %><% status.keys.sort.each do |key| %><% change, a, b = status[key] %>
<li class="<%= change %>"><%= key %> (<%= gformat "#{a[1] || '()'}...#{b[1] || '()'}" %>)</li><% end %>
</ul>

<form class="update" action="<%= url 'commit' %>" method="post">
<input type="text" name="message" value="" <% if status.empty? %>disabled="true" <% end %>/>
<input type="submit" value="Commit" <% if status.empty? %>disabled="true" <% end %>/></dt>
</form>

<form class="update" action="<%= url 'reset' %>" method="post">
<input type="submit" value="Reset" <% if status.empty? %>disabled="true" <% end %>/></dt>
</form>