  

  <div class="preview"><% if preview? %>
    <dl><% if parents.empty? %>
    <dt class="title">Title</dt>
    <dd class="title"><%= format.title doc.title %></dd><% end %>
    <dt class="content">Description</dt>
    <dd class="content"><%= format.content doc.content %></dd>
    <dt class="tags">Tags</dt>
    <dd class="tags"><%= format.tags doc.tags %></dd>
    <dt class="at">At</dt>
    <dd class="at"><%= format.at doc.at %></dd>
    </dl>
  </div><% end %><% parents.each do |sha| %>
  <input type="hidden" name="parents[]" value="<%= form.value sha %>" /><% end %>
  
  <dl><% if parents.empty? %>
  <dt><label for="title">Title</label></dt>
  <dd><input id="title" type="text" name="doc[title]" value="<%= form.title_value doc.title %>" /></dd><% end %>
  <dt><label for="content"><%= parents.empty? ? 'Description' : 'Comment' %></label></dt>
  <dd><textarea id="content" name="doc[content]"><%= form.content_value doc.content %></textarea></dd>
  <dt><label for="tags">Tags</label></dt>
  <dd>
    <ul><% form.each_tag(tags, *doc.tags) do |value, selection, content| %>
    <li><input type="checkbox" name="doc[tags][]" value="<%= value %>"<%= html.check(selection) %>><%= content %></input></li><% end %>
    <li><input type="input" name="doc[tags][]" /></li>
    </ul>
  </dd>
  <dt><label for="at">At</label></dt>
  <dd>
    <select id="at" name="doc[at]"><% form.each_ref_name(repo.git.grit.refs, doc.at) do |value, selection, content| %>
    <option value="<%= value %>"<%= html.select(selection) %>><%= content %></option><% end %>
    </select>
  </dd>
  <dt><label for="preview">Preview</label></dt>
  <dd><input id="preview" type="checkbox" name="preview" value="true"/></dd>
  <dt><input type="submit" value="<%= parents.empty? && !doc.saved? ? 'Create' : 'Update' %>" /></dt>
  <dd></dd>
  </dl>
