
  <dl class="issue" active="<%= issue.active?(head) %>">
  <dt class="content"><%= issue.origin? ? 'Description' : 'Comment' %></dt>
  <dd class="content"><%= format.content issue.content %></dd>
  <dt class="tags">Tags</dt>
  <dd class="tags"><%= format.tags issue.tags %></dd>
  <dt class="state">State</dt>
  <dd class="state"><%= format.state issue.state %></dd>
  <dt class="author">Author</dt>
  <dd class="author"><%= format.author issue.author %></dd>
  <dt class="date">Date</dt>
  <dd class="date"><%= format.date issue.date %></dd>
  <dt class="at">At</dt>
  <dd class="at"><%= format.at issue.at %></dd><% if issue.saved? %>
  <dt class="edit"><a href="<%= format.url('issue', issue.sha, 'edit') %>">Edit</a></dt>
  <dd></dd><% end %>
  </dl>
