<h1>Issues</h1>

<form class="issue" action="/issue" method="get">
  <h3>State</h3>
  <ul class="issuenav"><% states.each do |state| %>
  <li><input type="checkbox" name="state[]" value="<%= state %>" <%= checked?(current_states.include?(state)) %>><%= state %></input></li><% end %>
  </ul>
  
  <h3>Sort</h3>
  <ul class="issuenav">
  <li><input type="radio" name="sort" value="author" <%= checked?(sort_attr == 'author') %>>Author</input></li>
  <li><input type="radio" name="sort" value="date" <%= checked?(sort_attr == 'date') %>>Date</input></li>
  <li><input type="radio" name="sort" value="title" <%= checked?(sort_attr == 'title') %>>Title</input></li>
  <li><input type="checkbox" name="reverse" value="true" <%= checked?(reverse) %>>Reverse</input>
  </ul>
  
  <input type="submit" value="Search" >
</form>

<div class="issues">
  <ul class="issues"><% issues.each do |doc| %>
  <li><%= issue_link(doc) %></li><% end %>
  </ul>
</div>

<h2>Create New Issue</h2>
<form class="issue" action="/issue" method="post">
  <dl class="form">
  <dt><label for="title">Title</label></dt>
  <dd><input id="title" type="text" name="doc[title]" value="" /></dd>
  <dt><label for="content">Description</label></dt>
  <dd><textarea id="content" name="content"></textarea></dd>
  <dt><label for="tags">Tags</label></dt>
  <dd><input type="text" id="tags" name="doc[tags]" value="" /></dd>
  <dt><label for="at">At</label></dt>
  <dd>
<%= erb :_at, :layout => false %>
  </dd>
  <dt><label for="commit">Commit</label></dt>
  <dd><input id="commit" type="checkbox" name="commit" value="true" checked="true"/></dd>
  <dt><input type="submit" value="Create" /></dt>
  <dd></dd>
  </dl>
</form>

