<h1>Issues</h1>

<form class="issue" action="/issue/new" method="get">
  <input type="submit" value="New Issue" >
</form>

<form class="issue" action="/issue" method="get">
  <h3>State</h3>
  <ul class="issuenav"><% states.each do |state| %>
  <li><input type="checkbox" name="state[]" value="<%= state %>" <%= checked?(current_states.include?(state)) %>><%= state %></input></li><% end %>
  </ul>
  
  <h3>Tags</h3>
  <ul class="issuenav"><% tags.each do |tag| %>
  <li><input type="checkbox" name="tags[]" value="<%= tag %>" <%= checked?(current_tags.include?(tag)) %>><%= tag %></input></li><% end %>
  </ul>
  
  <h3>Sort</h3>
  <ul class="issuenav">
  <li><input type="radio" name="sort" value="author" <%= checked?(sort_attr == 'author') %>>Author</input></li>
  <li><input type="radio" name="sort" value="date" <%= checked?(sort_attr == 'date') %>>Date</input></li>
  <li><input type="radio" name="sort" value="title" <%= checked?(sort_attr == 'title') %>>Title</input></li>
  <li><input type="checkbox" name="reverse" value="true" <%= checked?(reverse) %>>Reverse</input>
  </ul>
  
  <input type="submit" value="Search" >
</form>

<div class="issues">
  <ul class="issues"><% issues.each do |doc| %>
  <li id="<%= doc.sha %>" active="<%= doc[:active] %>"><%= issue_link(doc) %></li><% end %>
  </ul>
</div>

