<h1>Issues</h1>

<form class="issue" action="<%= form.url('issue', 'new') %>" method="get">
  <input type="submit" value="New Issue" >
</form>

<form class="issue" action="<%= form.url('issue') %>" method="get">
  <h3>Tags</h3>
  <ul><% form.each_tag(tags, *all['tags']) do |value, selection, content| %>
  <li><input type="checkbox" name="tags[]" value="<%= value %>"<%= html.check(selection) %>><%= content %></input></li><% end %>
  </ul>
  
  <h3>Sort</h3>
  <ul>
  <li><input type="radio" name="sort" value="date" <%= html.check(sort == 'date') %>>Date</input></li>
  <li><input type="radio" name="sort" value="title" <%= html.check(sort == 'title') %>>Title</input></li>
  <li><input type="checkbox" name="reverse" value="true" <%= html.check(reverse) %>>Reverse</input>
  </ul>
  
  <input type="submit" value="Find" >
</form>

<div class="issues">
  <ul class="issues"><% docs.each do |doc| %>
  <li id="<%= doc.sha %>" active="<%= doc.graph_active?(active_sha) %>"><%= format.issue_a doc %></li><% end %>
  </ul>
</div>

