<% if content %>
<h1>Preview Issue</h1>
<div class="preview">
  <dl class="description">
  <dt class="title">Title</dt>
  <dd class="title"><%= escape_html(doc['title']) %></dd>
  <dt class="content">Description</dt>
  <dd class="content"><%= tformat(content) %></dd>
  </dl>
</div><% else %>
<h1>New Issue</h1><% end %>

<form class="issue" action="<%= url('issue') %>" method="post">
  <dl class="form">
  <dt><label for="title">Title</label></dt>
  <dd><input id="title" type="text" name="doc[title]" value="<%= escape_html(doc['title']) %>" /></dd>
  <dt><label for="content">Description</label></dt>
  <dd><textarea id="content" name="content"><%= content %></textarea></dd>
  <dt><label for="tags">Tags</label></dt>
  <dd><input type="text" id="tags" name="doc[tags]" value="<%= escape_html(doc['tags']) %>" /></dd>
  <dt><label for="at">At</label></dt>
  <dd>
<%= erb :_at, :layout => false %>
  </dd>
  <dt><label for="preview">Preview</label></dt>
  <dd><input id="preview" type="checkbox" name="preview" value="true"/></dd>
  <dt><label for="commit">Commit</label></dt>
  <dd><input id="commit" type="checkbox" name="commit" value="true" checked="true"/></dd>
  <dt><input type="submit" value="Create" /></dt>
  <dd></dd>
  </dl>
</form>

