<h1>Issue <%= format.sha_a issue.sha %></h1>

<dl class="issue">
<dt class="title">Title</dt>
<dd class="title"><%= format.titles current_titles %></dd>
<dt class="tags">Tags</dt>
<dd class="tags"><%= format.tags current_tags %></dd>
<dt class="state">State</dt>
<dd class="state"><%= format.states current_states %></dd>
</dl>

<div style="position:relative">
  <canvas id="graph-<%= issue.sha %>" style="position:relative">
  <p>Your browser doesn't support canvas.</p>
  </canvas>
  
  <ul id="data-<%= issue.sha %>" class="issue" style="position:relative"><% format.graph(issue.graph) do |sha, attrs| %>
  <li id="node-<%= sha %>" graph="<%= attrs %>"><%= erb :_issue, :locals => {:issue => Gitgo::Documents::Issue.read(sha) }, :layout => false %></li><% end %>
  </ul>
  
  <script>Gitgo.Graph.draw("#graph-<%= issue.sha %>", "#data-<%= issue.sha %>");</script>
</div>

<form action="<%= form.url('issue', issue.sha) %>" method="post" style="float:left">
  <input type="hidden" name="doc[origin]" value="<%= issue.sha %>" /><% (update['parents'] || []).each do |sha| %>
  <input type="hidden" name="doc[parents][]" value="<%= form.value sha %>" /><% end %>
<%= erb :_issue_form, :locals => {:doc => update, :origin => false, :submit => 'Update'}, :layout => false %>
</form>
