<h1>Issue <%= format.sha_a issue.sha %></h1>

<dl class="issue">
<dt class="title">Title</dt>
<dd class="title"><%= format.titles current_titles %></dd>
<dt class="tags">Tags</dt>
<dd class="tags"><%= format.tags current_tags %></dd>
<dt class="state">State</dt>
<dd class="state"><%= format.states current_states %></dd>
</dl>

<div class="issue"><%= format.tree(issue.graph.tree) do |sha|
  erb :_issue, :locals => {:issue => Gitgo::Documents::Issue.read(sha) }, :layout => false
  end
%>
</div>

<form action="<%= form.url('issue', issue.sha) %>" method="post">
  <input type="hidden" name="doc[origin]" value="<%= issue.sha %>" /><% (update['parents'] || []).each do |sha| %>
  <input type="hidden" name="doc[parents][]" value="<%= form.value sha %>" /><% end %>
<%= erb :_issue_form, :locals => {:doc => update, :origin => false, :submit => 'Update'}, :layout => false %>
</form>
