<h1>Search Commits</h1>
<% unless git.version_ok? %>
<em>warning the version of git on the server is insufficient for this action (must be <%= Gitgo::Git::GIT_VERSION.join('.') %>, but is <%= git.version.join('.') %>)</em>
<% end %>
<%=  erb :_grepnav, :layout => false %>

<form class="grep" action="<%= url('commit') %>" method="get">
  <dl class="form">
  <dt><label for="author">Author</label></dt>
  <dd><input id="author" type="text" name="author" value="<%= form.author_value author %>" /></dd>
  <dt><label for="committer">Committer</label></dt>
  <dd><input id="committer" type="text" name="committer" value="<%= form.author_value committer %>" /></dd>
  <dt><label for="grep">Message</label></dt>
  <dd><input id="grep" type="text" name="grep" value="<%= form.value grep %>" /></dd>
  <dt><label for="ignore_case">Case-Insensitive</label></dt>
  <dd><input id="ignore_case" type="checkbox" name="regexp_ignore_case " value="true" <%= html.check(regexp_ignore_case) %>/></dd>
  <dt><label for="fixed_strings">Fixed Strings</label></dt>
  <dd><input id="fixed_strings" type="checkbox" name="fixed_strings" value="true" <%= html.check(fixed_strings) %>/></dd>
  <dt><label for="all_match">All Match</label></dt>
  <dd><input id="all_match" type="checkbox" name="all_match" value="true" <%= html.check(all_match) %>/></dd>
  <dt><label for="max_count">Max Count</label></dt>
  <dd><input id="max_count" type="text" name="max_count" value="<%= form.value max_count %>" /></dd>
  <dt><input type="submit" value="Grep" /></dt>
  <dd></dd>
  </dl>
</form>

<% if selected.empty? %><em>None selected!</em><% end %>
<table><% selected.each do |commit| %>
<tr>
<td><%= format.author commit.author %></td>
<td><%= format.commit_a commit.sha %></a></td>
<td><%= format.text commit.message %></td>
</tr><% end %>
</table>