<%= erb :_commit, :locals => {:commit => commit }, :layout => false %>

<div class="diff">
  <ul class="diff"><% commit.diffs.each do |diff| %><% if diff.new_file %>
  <li class="add"><%= diff.b_path %></li><%            elsif diff.deleted_file %>
  <li class="rm"><%= diff.a_path %></li><%             else %>
  <li class="diff">
    <pre><%= escape_html(diff.diff) %></pre>
  </li><%                                              end %><% end %>
  </ul>
</div><%= render_comments(commit.id) %>