<h1>Search <%= escape_html(type.capitalize) %>s</h1>

<%=  erb :_grepnav, :layout => false %>

<form class="grep" action="<%= url(type) %>" method="get">
  <dl class="form">
  <dt><label for="pattern">Pattern</label></dt>
  <dd><input id="pattern" type="text" name="pattern" value="<%= form.value e %>" /></dd>
  <dt><label for="ignore_case">Case-Insensitive</label></dt>
  <dd><input id="ignore_case" type="checkbox" name="ignore_case" value="true" <%= html.check(ignore_case) %>/></dd>
  <dt><label for="invert_match">Invert Match</label></dt>
  <dd><input id="invert_match" type="checkbox" name="invert_match" value="true" <%= html.check(invert_match) %>/></dd>
  <dt><label for="fixed_strings">Fixed Strings</label></dt>
  <dd><input id="fixed_strings" type="checkbox" name="fixed_strings" value="true" <%= html.check(fixed_strings) %>/></dd>
  <dt><label for="at">At</label></dt>
  <dd>
    <select id="at" name="at"><% form.each_ref(refs, grit.head.name) do |value, selection, content| %>
    <option value="<%= value %>"<%= html.select(selection) %>><%= content %></option><% end %>
    <option value="">(none)</option>
    </select>
  </dd>
  <dt><input type="submit" value="Grep" /></dt>
  <dd></dd>
  </dl>
</form>

<% if selected.empty? %><em>None selected!</em><% end %>
<table><% selected.each do |(path, obj)| %>
<tr>
<td><%= format.full_path_a('blob', at, path) %></td>
</tr><% end %>
</table>