<h1>Code</h1>
<div class="code">
  <h3>Search</h3>
  <%=  erb :_grepnav, :layout => false %>
  
  <h3>Branches</h3><% if branches.empty? %>
  <em>No branches yet.</em><% end %>
  <ul><% branches.each do |ref| %>
  <li><%= format.tree_a ref.name %> (<%= format.history_a ref.name %>)</li><% end %>
  </ul>

  <h3>Tags</h3><% if tags.empty? %>
  <em>No tags yet.</em><% end %>
  <ul><% tags.each do |ref| %>
  <li><%= format.tree_a ref.name %> (<%= format.history_a ref.name %>)</li><% end %>
  </ul>
</div>
