<h1>Gitgo Activity<% unless author.empty? %> for <%= escape_html author %><% end %></h1>
<ul>
<li class="newer"><% if timeline && page >= 1 %><a href="<%= url('timeline') %>?<%= build_query(:author => author, :page => page - 1, :per_page => per_page) %>">newer</a><% else %>(newer)<% end %></li>
<li class="older"><% if timeline && timeline.length == per_page %><a href="<%= url('timeline') %>?<%= build_query(:author => author, :page => page + 1, :per_page => per_page) %>">older</a><% else %>(older)<% end %></li>
</ul>

<ul>
<li><a href="<%= url('timeline') %>">All Authors</a></li><% authors.each do |author| %>
<li><a href="<%= url('timeline') %>?<%= build_query(:author => author) %>"><%= escape_html(author) %></a></li><% end %>
</ul>

<ul class="timeline"><% if timeline.empty? %>
<li>No activity yet...</li><% else %><% format.each_activity(timeline) do |type, link, author, date| %>
<li>
  <dl class="activity">
  <dt class="type"><%= type %></dt>
  <dd class="type"><%= link %></dd>
  <dt class="author">Author</dt>
  <dd class="author"><%= author %></dd>
  <dt class="date">Date</dt>
  <dd class="date"><%= date %></dd>
  </dl>
</li><% end %><% end %>
</ul>