<h1>Gitgo Activity<% unless author.nil? %> for <%= escape_html author %><% end %></h1>
<ul>
<li class="newer"><% if docs && page >= 1 %><a href="<%= url('timeline') %>?<%= build_query(:author => author, :page => page - 1, :per_page => per_page) %>">newer</a><% else %>(newer)<% end %></li>
<li class="older"><% if docs && docs.length == per_page %><a href="<%= url('timeline') %>?<%= build_query(:author => author, :page => page + 1, :per_page => per_page) %>">older</a><% else %>(older)<% end %></li>
</ul>

<ul>
<li><a href="<%= url('timeline') %>">All Authors</a></li><% authors.each do |author| %>
<li><a href="<%= url('timeline') %>?<%= build_query(:author => author) %>"><%= escape_html(author) %></a></li><% end %>
</ul>

<ul class="timeline"><% if docs.empty? %>
<li>No activity yet...</li><% else %><% docs.reverse_each do |doc| %>
<li>
  <dl active="<%= doc.active?(active_sha) %>">
  <dt class="type"><% if doc.graph_head? %>New <% end %><%= doc.type.capitalize %></dt><% if doc.type == 'issue' %>
  <dd class="type"><%= format.issue_a(doc) %></dd>
  <dt class="tags">Tags</dt>
  <dd class="tags"><%= format.tags doc.tags %></dd><% else %>
  <dd class="type"><%= format.sha_a doc.sha %></dd><% end %>
  <dt class="author">Author</dt>
  <dd class="author"><%= format.author doc.author %></dd>
  <dt class="date">Date</dt>
  <dd class="date"><%= format.date doc.date %></dd>
  </dl>
</li><% end %><% end %>
</ul>