<h1>Gitgo</h1>

<p>Welcome! Gitgo will store data on the '<%= branch %>' branch.</p><% unless remotes.empty? %>
<p>Select a remote to setup tracking (you can change this on the <a href="<%= form.url('repo') %>">repo</a> page):</p>

<form action="<%= form.url('repo', 'setup') %>" method="post">
  <input type="hidden" name="redirect" value="<%= form.url %>">
  <select name="upstream_branch"><% form.each_ref_name(remotes, Gitgo::Git::DEFAULT_UPSTREAM_BRANCH) do |value, selection, content| %>
  <option value="<%= value %>"<%= html.select(selection) %>><%= content %></option><% end %>
  </select>
  <input type="submit" value="Setup" />
</form>
<% end %>
