<h2><%= document.sha %></h2>
<div class="document">
  <dl class="document"><% document.each_pair do |key, value| %>
  <dt class="<%= key %>"><%= key %></dt>
  <dd class="<%= key %>"><%= value %></dd><% end %>
  </dl>
</div><%= render_comments(comments) %>