<h1>Gitgo Activity<%= escape_html(author.empty? ? "" : " for #{author}") %></h1>
<ul>
<li class="newer"><% if timeline && page >= 1 %><a href="<%= url('timeline') %>?<%= build_query(:author => author, :page => page - 1, :per_page => per_page) %>">newer</a><% else %>(newer)<% end %></li>
<li class="older"><% if timeline && timeline.length == per_page %><a href="<%= url('timeline') %>?<%= build_query(:author => author, :page => page + 1, :per_page => per_page) %>">older</a><% else %>(older)<% end %></li>
</ul>

<ul>
<li><a href="<%= url('timeline') %>">All Authors</a></li><% authors.each do |author| %>
<li><a href="<%= url('timeline') %>?<%= build_query(:author => author) %>"><%= escape_html(author) %></a></li><% end %>
</ul>

<ul class="timeline"><% if timeline.nil? %>
<li>
  <h2>Welcome to Gitgo!</h2>
  <p>New activity will be listed here after you visit the <a href='/repo'>repo</a> page and setup a <%= repo.branch %> branch.</p>
</li><% elsif timeline.empty? %>
<li>
  No results to show...
</li><% else %><% timeline.reverse_each do |doc| %>
<li>
  <ul>
  <li><%= 
  case doc['type']
  when 'comment'  then obj_link(doc['re'])
  when 'issue'    then issue_link(doc)
  when 'update'   then "#{issue_link(cache[doc['re']])} (state: #{doc['state']})"
  else "Added #{sha_link doc.sha}"
  end %></li><% if type = doc['type'] %>
  <li><%= type %></li><% end %>
  <li><%= activity_link(doc.author) %></li>
  <li><%= format_date(doc.date) %></li>
  </ul>
</li><% end %><% end %>
</ul>