<h1>Comments</h1>
<ul class="commentnav">
<li class="newer"><% if page >= 1 %><a href="/comments?page=<%= page - 1 %>&per_page=<%= per_page %>">newer</a><% else %>(newer)<% end %></li>
<li class="older"><% if timeline.length == per_page %><a href="/comments?page=<%= page + 1 %>&per_page=<%= per_page %>">older</a><% else %>(older)<% end %></li>
</ul>

<div class="comments">
<%= erb :_timeline, :locals => {:timeline => timeline}, :layout => false %>
</div>