<div class="issue">
  <dl class="description">
  <dt class="title">Title</dt>
  <dd class="title"><%= doc['title'] %></dd>
  <dt class="desc">Description</dt>
  <dd class="desc"><%= html_escape doc.content %></dd>
  <dt class="author">Author</dt>
  <dd class="author"><%= doc.author %></dd>
  <dt class="date">Date</dt>
  <dd class="date"><abbr title="<%= doc.date.iso8601 %>"><%= doc.date.strftime('%Y/%m/%d %H:%M %p') %></abbr></dd>
  <dt class="comments">Comments</dt>
  <dd class="comments">
<%= erb :_comments, :locals => {:parent => doc, :comments => comments}, :layout => false %>
  </dd>
  <dt class="update">Update Issue</dt>
  <dd class="update">
    <form class="update" action="/issue/<%= id %>" method="post">
      <input type="hidden" name="_method" value="update" /><% tails.each do |tail| %>
      <input type="hidden" name="re[]" value="<%= tail.sha %>" /><% end %>
      
      <dl class="form">
      <dt><label for="content">Comment</label></dt>
      <dd><textarea id="content" name="content"></textarea></dd>
      <dt><label for="state">State</label></dt>
      <dd>
        <select id="state" name="doc[state]"><% states.each do |state| %>
        <option value="<%= state %>"><%= state %></option><% end %>
        </select>
      </dd>
      <dt><label for="tags">Tags</label></dt>
      <dd><input type="text" id="tags" name="doc[tags]" value="<%= merge_tags.join(" ") %>" /></dd>
      <dt><label for="at">At</label></dt>
      <dd>
        <select id="at" name="at"><% refs.each do |ref| %>
        <option value="<%= ref.commit %>"><%= ref.name %></option><% end %>
        <option value="">(none)</option>
        </select>
      </dd>
      <dt><label for="commit">Commit</label></dt>
      <dd><input id="commit" type="checkbox" name="commit" value="true" checked="true"/></dd>
      <dt><input type="submit" value="Update" /></dt>
      <dd></dd>
      </dl>
    </form>
  </dd>
  </dl>
</div>

